<h2>Bug Report Details</h2>

<div *ngIf="bugReport; else loading">
  <p><strong>ID:</strong> {{ bugReport.id }}</p>
  <p><strong>Bug Report:</strong> {{ bugReport.title || 'No title' }}</p>
  <p><strong>Description:</strong> {{ bugReport.description || 'No description' }}</p>
  <!--  <p><strong>Data:</strong> {{ bugReport.date || 'Brak daty' }}</p>-->
  <p><strong>Bug Status:</strong> {{ bugReport.actualStatus?.name || 'No status' }}</p>

  <button class="btn btn-secondary" routerLink="/bug-reports">Back</button>
</div>

<ng-template #loading>
  <p>Loading data...</p>
</ng-template>
